input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#registerButton.hover {
  background: #fff;
  color: #09c;
}
hr.line {
  border-top: 1px solid red;
}
.home {
  background: url('../src/images/mainimage.jpg') no-repeat center center/cover;
  position: relative;
  height: 100vh;
}
.about {
  background: url('../src/images/teacherimg.jpg') no-repeat center center/cover;
  position: relative;
  height: 100vh;
}
.Registerform {
  background-color: rgb(231, 225, 223);
  margin: 30px 400px;
}
.loginForm {
  background-color: rgb(235, 222, 217);
  margin: 30px 450px;
}
.courseForm {
  background-color: rgb(80, 255, 103);
  margin: 30px 400px;
}

.carousel-item > img {
  width: 100%;
  padding: 5px 100px 200px 100px;
}

.list {
  padding: 8px;
  margin: 5px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
.register {
  padding: 5px;
  margin: 3px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.developerImage {
  height: 200px;
  width: 400px;
  left: 30%;
  border: 1px solid black;
}
.cardImage {
  border-radius: 50%;
}
.divli {
  margin-left: 10%;
}
.contactus {
  margin-left: 50%;
  margin-top: -10%;
}

.input-feedback {
  color: red;
}
